h1, h2, h3, p {
    font-family: "Lucida Handwriting", "Courier New", monospace;
}

.selfie {
    display: inline-block;
    width: 30%;
}

.mainContent {
    width: 65%;
    display: inline-block;
    color: deeppink;
}